body{
    font-family:'微软雅黑 Light',sans-serif;
}
.container{
    background:#eee;
    width:50%;
    max-width:1200px;
    min-width:768px;
    height:100%;
    margin:0 auto;
}
.container header{

}
p{
    word-break: break-all;
}
/*手机端样式*/
@media screen and (max-width:768px) {
    .container{
        width:100%;
        min-width:0;
    }
}
pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}