<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>物品清单查询</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <style>
        header{
            padding:10px;
        }
        td{
            min-width:90px;
        }
    </style>
</head>
<body ng-app="table" ng-controller="tableCtrl">
<header class="text-center">
    <h4>物品清单</h4>
</header>
<div class="container">
    <div class="filter"></div>
    <div class="search input-group">
        <input type="text" class="form-control" placeholder="输入关键词" name="search" id="search" ng-model="key">
        <button class="input-group-addon" ng-click="search(key)">搜索</button>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>名称</td>
            <td>箱子</td>
            <td>位置</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in result">
            <td>{{item.name}}</td>
            <td>{{item.box}}</td>
            <td>{{item.place}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="//cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
<script>
    var table = angular.module('table',[]);
    table.controller('tableCtrl',function($scope){
        $scope.list = [
            {name:'纪念品',box:'小熊箱子', place:'床底',master:'c'},
            {name:'泳镜',box:'小熊箱子', place:'床底',master:'c，s'},
            {name:'一寸、二寸照',box:'小熊箱子', place:'床底',master:'c'},
            {name:'夏天小风扇',box:'小熊箱子', place:'床底',master:'c'},
            {name:'手表',box:'小熊箱子', place:'床底',master:'c'},
            {name:'农林大学C区理发卡',box:'小熊箱子', place:'床底',master:'c'},
            {name:'毕业证、报到证、学位证',box:'小熊箱子', place:'床底',master:'c'},
            {name:'纪念品（台湾、大学、单据）',box:'点点箱子', place:'床底',master:'s'},
            {name:'大量白纸',box:'点点箱子', place:'床底',master:'c，s'},
            {name:'挺好的本子',box:'点点箱子', place:'床底',master:'c，s'},
            {name:'数据结构考研（《高分笔记》）',box:'点点箱子', place:'床底',master:'c'},
            {name:'《计算机组成原理》',box:'点点箱子', place:'床底',master:'c'},
            {name:'《计算机网络》',box:'点点箱子', place:'床底',master:'c'},
            {name:'《庄子》',box:'点点箱子', place:'床底',master:'s'},
            {name:'《你不可不知的50个数学知识》（数学竞赛奖励）',box:'点点箱子', place:'床底',master:'c'},
            {name:'《最美海南》',box:'点点箱子', place:'床底',master:'c'},
            {name:'《傲慢与偏见》（双语）',box:'点点箱子', place:'床底',master:'c'},
            {name:'《统计软件R讲义》',box:'点点箱子', place:'床底',master:'s'},
            {name:'《C++面向对象程序设计教程》',box:'点点箱子', place:'床底',master:'s'},
            {name:'《Java Web 技术整合应用于项目开发》（JSP）',box:'点点箱子', place:'床底',master:'s'},
            {name:'《数学实验Matlab》',box:'点点箱子', place:'床底',master:'s'},
            {name:'《SPSS19 统计分析实验教程》',box:'点点箱子', place:'床底',master:'s'},
            {name:'《数据库统计原理》',box:'点点箱子', place:'床底',master:'s'},
            {name:'《史记》',box:'点点箱子', place:'床底',master:'s'},
            {name:'魅族4包装盒（mx4）',box:'点点箱子', place:'床底',master:'c'},
            {name:'《山楂树之恋》',box:'点点箱子', place:'床底',master:'s'},
            {name:'《追风筝的人》',box:'点点箱子', place:'床底',master:'c'},
            {name:'《配色设计原理》',box:'点点箱子', place:'床底',master:'s'},
            {name:'《从零开始学炒股（股票入门实践）》',box:'点点箱子', place:'床底',master:'c'},
            {name:'龙蛇手机贴',box:'点点箱子', place:'床底',master:'c'},
            {name:'珠子（佛珠劣质）',box:'点点箱子', place:'床底',master:'s'},
            {name:'便利贴',box:'点点箱子', place:'床底',master:'s'},
            {name:'收音机',box:'点点箱子', place:'床底',master:'s'},
            {name:'兔子笔袋',box:'点点箱子', place:'床底',master:'s'},
            {name:'杂物（娃娃）',box:'点点箱子', place:'床底',master:'s'},
            {name:'台币一套',box:'点点箱子', place:'床底',master:'c'},
            {name:'考试用铅笔（2B）',box:'点点箱子', place:'床底',master:'s'},
            {name:'大头娃娃笔（蓝）',box:'点点箱子', place:'床底',master:'s'},
            {name:'HTML5+CSS3入门、数据结构、计算机网络 光盘',box:'点点箱子', place:'床底',master:'s'},
            {name:'荣誉证书、报到证、劳动合同、六级证书',box:'点点箱子', place:'床底',master:'s'},
            {name:'卫生纸、餐巾纸',box:'卫生纸箱', place:'床底',master:'c，s'},
            {name:'SS印章及油',box:'红方小盒', place:'梯形 naie 盒',master:'s'},
            {name:'OPPO MP3',box:'红方小盒', place:'梯形 naie 盒',master:'s'},
            {name:'共青团徽',box:'红方小盒', place:'梯形 naie 盒',master:'s'},
            {name:'软头触摸笔',box:'红方小盒', place:'梯形 naie 盒',master:'s'},
            {name:'三角板 ×2',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'直角尺',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'刮墙纸板',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'粘灰尘器',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'红方小盒',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'苹果盗版充电线',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'小充电头（白）',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'自拍杆',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'2m 钢尺',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'泡沫胶',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'绝缘胶',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'双面胶 ×3',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'iphone4充电线',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'固体胶',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'小透明胶',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'贴膜擦纸',box:'梯形 naie 盒', place:'低柜抽屉',master:'s'},
            {name:'拔掉的牙齿',box:'兔子铁盒', place:'低柜抽屉',master:'s'},
            {name:'贝壳串',box:'兔子铁盒', place:'低柜抽屉',master:'s'},
            {name:'5号电池 ×1',box:'兔子铁盒', place:'低柜抽屉',master:'s'},
            {name:'7号电池 ×4',box:'兔子铁盒', place:'低柜抽屉',master:'s'},
            {name:'小铁夹 ×2',box:'兔子铁盒', place:'低柜抽屉',master:'s'},
            {name:'大铁夹 ×1',box:'兔子铁盒', place:'低柜抽屉',master:'s'},
            {name:'木夹 ×2',box:'兔子铁盒', place:'低柜抽屉',master:'s'},
            {name:'三星原装耳机（黑）',box:'兔子铁盒', place:'低柜抽屉',master:'c'},
            {name:'白色保温杯（Face）方形盒',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'彩色保温杯（WOPU）圆形盒',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'临时居住证（过期）',box:'Cigare蓝盒', place:'低柜抽屉',master:'s'},
            {name:'台湾签证',box:'Cigare蓝盒', place:'低柜抽屉',master:'s'},
            {name:'机械电筒',box:'Cigare蓝盒', place:'低柜抽屉',master:'s'},
            {name:'理学院代表大会代表证',box:'Cigare蓝盒', place:'低柜抽屉',master:'s'},
            {name:'台湾农信准考证',box:'Cigare蓝盒', place:'低柜抽屉',master:'s'},
            {name:'厦门佟小曼名片',box:'Cigare蓝盒', place:'低柜抽屉',master:'s'},
            {name:'牛牛卡',box:'Cigare蓝盒', place:'低柜抽屉',master:'c'},
            {name:'遇花溪卡',box:'Cigare蓝盒', place:'低柜抽屉',master:'c'},
            {name:'杭州公交卡（作废）',box:'Cigare蓝盒', place:'低柜抽屉',master:'s'},
            {name:'iphone6电池',box:'Cigare蓝盒', place:'低柜抽屉',master:'s'},
            {name:'牙签（一包）',box:'Cigare蓝盒', place:'低柜抽屉',master:'s'},
            {name:'龙虾热水袋充电线',box:'Cigare蓝盒', place:'低柜抽屉',master:'s'},
            {name:'野餐垫',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'发光小音箱',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'熨斗',box:'大纸板箱', place:'柜顶',master:'c，s'},
            {name:'温碧泉四件套',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'热水袋（紫色内胆）',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'黄色钱包',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'温碧泉旅行装',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'笔芯（大量）',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'护手霜 ×2',box:'Cailan 黑盒', place:'低柜抽屉',master:'s'},
            {name:'iphone6 手机套',box:'Cailan 黑盒', place:'低柜抽屉',master:'s'},
            {name:'小发卡（黑）',box:'Cailan 黑盒', place:'低柜抽屉',master:'s'},
            {name:'头绳、头饰（多、乱）',box:'Cailan 黑盒', place:'低柜抽屉',master:'s'},
            {name:'金猫项链',box:'Cailan 黑盒', place:'低柜抽屉',master:'s'},
            {name:'塑料餐具套装',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'vivo 旧手机',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'力士洗发露（小）',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'清扬洗发露（大）',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'发光小音箱',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'发光小音箱',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'蓝色钱包（内有一些卡）',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'暖宝宝',box:'无', place:'低柜抽屉',master:'s'},
            {name:'南极人袜子（5双）',box:'无', place:'低柜抽屉',master:'s'},
            {name:'旧木梳',box:'无', place:'低柜抽屉',master:'s'},
            {name:'牙刷（多支）',box:'无', place:'低柜抽屉',master:'c，s'},
            {name:'皮带（多根）',box:'温碧泉皮带盒（蓝黄）', place:'高柜抽屉',master:'c，s'},
            {name:'皮带（多根）',box:'触瓶皮带盒（白彩）', place:'高柜抽屉',master:'c，s'},
            {name:'猴子笔袋（空）',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'后跟帖',box:'爆浆麻薯盒', place:'低柜抽屉',master:'s'},
            {name:'白长带子',box:'爆浆麻薯盒', place:'低柜抽屉',master:'s'},
            {name:'台灯及线',box:'爆浆麻薯盒', place:'低柜抽屉',master:'s'},
            {name:'杯刷',box:'无', place:'低柜抽屉',master:'s'},
            {name:'袖套',box:'无', place:'低柜抽屉',master:'s'},
            {name:'铁紫杯',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'无指手套',box:'无', place:'低柜抽屉',master:'c'},
            {name:'白带手表',box:'无', place:'低柜抽屉',master:'s'},
            {name:'招商送橙丑杯',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'抱枕',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'靠枕',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'坐垫（薄）',box:'大纸板箱', place:'柜顶',master:'s'},
            {name:'内衣（新）',box:'无', place:'高柜抽屉',master:'s'},
            {name:'内裤（新）',box:'无', place:'高柜抽屉',master:'s'},
            {name:'塑料袋',box:'无', place:'高柜抽屉',master:'s'},
            {name:'褐色围裙',box:'无', place:'高柜抽屉',master:'s'},
            {name:'中信碗 ×2',box:'无', place:'高柜抽屉',master:'s'},
            {name:'神农架梳子 ×2',box:'无', place:'高柜抽屉',master:'s'},
            {name:'保鲜膜',box:'无', place:'高柜抽屉',master:'c，s'},
            {name:'保鲜袋',box:'无', place:'高柜抽屉',master:'c,s'},
            {name:'红镯子',box:'紫花袋', place:'高柜抽屉',master:'s'},
            {name:'荣耀V9盒子（含VR眼镜、保修卡）',box:'无', place:'高柜抽屉',master:'c'},
           /* {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},
            {name:'',box:'', place:'',master:''},*/
        ];
        $scope.result =  $scope.list;
        $scope.key = '';
        $scope.search = function(key){
            $scope.result = [];
            for( var i = 0 ; i < $scope.list.length ; i++ ){
                if($scope.list[i].name.indexOf(key)!==-1 || $scope.list[i].box.indexOf(key)!==-1 || $scope.list[i].place.indexOf(key.name)!==-1){
                    $scope.result.push($scope.list[i]);
                }
            }
        };
        document.addEventListener('keyup',function(e){
            var ev = e || event;
            if( ev.keyCode === 13 ){
                $scope.search($scope.key);
            }
        },false);
    });
</script>
</html>