<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>药品清单</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <style>
        header{
            padding:10px;
        }
        td{
            min-width:90px;
        }
        .overdue{
            color:#d9534f;
        }
    </style>
</head>
<body ng-app="table" ng-controller="tableCtrl">
<header class="text-center">
    <h4>药品清单</h4>
</header>
<div class="container">
    <div class="filter"></div>
    <div class="search input-group">
        <input type="text" class="form-control" placeholder="输入关键词" name="search" id="search" ng-model="key">
        <button class="input-group-addon" ng-click="search(key)">搜索</button>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>品名</td>
            <td>主治</td>
            <td>数量</td>
            <td>保质期</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in result">
            <td>{{item.name}}</td>
            <td>{{item.effect}}</td>
            <td>{{item.amount}}</td>
            <td class="{{timeCheck(item.datetime)}}">{{item.datetime}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="//cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
<script>
    var table = angular.module('table',[]);
    table.controller('tableCtrl',function($scope){
        $scope.list = [
            {name:'当归苦参丸',effect:'凉血，祛湿。头面生疮，粉刺疙瘩等。',amount:3,datetime:'2017-8-24'},
            {name:'盐酸多西环素胶囊',effect:'非特异性尿道炎、输卵管炎、宫颈炎等。',amount:2,datetime:'2017-12-11'},
            {name:'金刚藤丸',effect:'附件炎等妇科疾病',amount:4,datetime:'2019-1-9'},
            {name:'丁细牙痛胶囊',effect:'治牙痛',amount:1,datetime:'2017-10-1'},
            {name:'感通片',effect:'清热解毒，感冒，发烧，头痛鼻塞，咳嗽痰黄。口干咽痛、喉咙红肿，全身酸痛。',amount:1,datetime:'2017-11-1'},
            {name:'草珊瑚含片',effect:'疏风清热，消肿止痛。喉咙痛。',amount:1,datetime:'2017-10-1'},
            {name:'烧烫伤膏',effect:'烫伤',amount:1,datetime:'2018-6-1'},
            {name:'健胃消食片',effect:'消食',amount:1,datetime:'2017-7-3'},
            {name:'阿莫西林胶囊',effect:'消炎',amount:1,datetime:'2017-7-1'},
            {name:'头孢克污分散片',effect:'消炎（处方药，不能乱吃）',amount:2,datetime:'2017-11-1'},
            {name:'聚维酮碘溶液',effect:'杀菌消毒',amount:1,datetime:'2018-5-1'},
            {name:'Hirudoid forte',effect:'泰国祛疤膏',amount:1,datetime:'未知'},
            {name:'辣椒碱乳膏',effect:'缓减风湿痛，肌肉关节背部扭伤拉伤',amount:1,datetime:'2017-9-1'}
        ];
        $scope.result =  $scope.list;
        $scope.key = '';
        $scope.search = function(key){
            $scope.result = [];
            for( var i = 0 ; i < $scope.list.length ; i++ ){
                if($scope.list[i].name.indexOf(key)!==-1 || $scope.list[i].effect.indexOf(key)!==-1 || $scope.list[i].place.indexOf(key.name)!==-1){
                    $scope.result.push($scope.list[i]);
                }
            }
        };
        $scope.timeCheck = function(time){
            console.log(new Date(time));
            var date = new Date();
            if(new Date(time).getTime()<date.getTime()){
                return 'overdue';
            }else{
                return '';
            }
        };
        document.addEventListener('keyup',function(e){
            var ev = e || event;
            if( ev.keyCode === 13 ){
                $scope.search($scope.key);
            }
        },false);
    });
</script>
</html>